KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/gdt_flush.o \
$(ARCHDIR)/gdt/tss_flush.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/interrupts.o \
$(ARCHDIR)/interrupts/timer.o \
$(ARCHDIR)/interrupts/keyboard.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/utils.o \
$(ARCHDIR)/paging/paging.o \
$(ARCHDIR)/paging/allocators.o \
$(ARCHDIR)/paging/internal.o \
$(ARCHDIR)/paging/enable_paging.o \
$(ARCHDIR)/paging/load_page_directory.o \
$(ARCHDIR)/paging/read_cr3.o \
$(ARCHDIR)/memory_manager/tlb_flush.o \
$(ARCHDIR)/memory_manager/vmm.o \
$(ARCHDIR)/memory_manager/heap.o \
$(ARCHDIR)/memory_manager/allocators.o \
$(ARCHDIR)/memory_manager/brk.o \
$(ARCHDIR)/memory_manager/internal.o \
$(ARCHDIR)/scheduler/process.o \
$(ARCHDIR)/scheduler/switch_to_process.o \
$(ARCHDIR)/scheduler/forge_kernel_stack.o \
